@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.catalog{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient( #2D6E5C, #c9cad3);
    

    .container{
        padding:4em 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width:100%;
        height: 100%;
        flex-wrap: wrap;
        gap: 2.5em;
        
    }

    
}

@media all and (max-width: 700px){
    .catalog{
        padding: 4em 0;
        
    }

    
}